.navbar-brand{
    margin-left: 220px;
    font-size: 70px;
    font-family: 'Brush Script MT', cursive; 

}

nav{
    height: 150px;
    margin-top: 150px;
}

.nav-link{
    font-size: 25px;
    margin-right: 13px;
    background-color: #C5FFF8;
    color: red;
    font-weight: 700;
    border-radius: 10px;
}

.navbar-nav{
    margin-left: 220px;
}

ol{
    margin-left: 400px;
    margin-top: 60px;
}
img{
    border:2px solid black;
   

}
li{
    color: blue;
}
.row flex-lg-row-reverse align-items-center g-5 py-5{
    background-color: black;
}

.lead{
    line-height: 30px;
    margin-top: 40px;
    color: brown;
}
h2{
    margin-left: 40px;
}
.bootstrap{
    height: 40px;
    width: 50px;
}

.css{
    height: 40px;
    width: 50px;
}
.html{
    height: 40px;
    width: 50px;
}
.python{
    height: 40px;
    width: 50px;
}
.kotlin{
    height: 35px;
    width: 50px;
}
.java{
    height: 40px;
    width: 50px;
}
.c{
    height: 35px;
    width: 50px;
}

.sql{
    height: 40px;
    width: 50px;
}


